<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>describe</key>
		<string>空气质量指数，AQI和PM25的关系</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>aqi</string>
		<key>row</key>
		<string>0</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>主要污染物</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>main</string>
		<key>row</key>
		<string>1</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>空气质量</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>qlty</string>
		<key>row</key>
		<string>2</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>pm10</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>pm10</string>
		<key>row</key>
		<string>3</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>pm25</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>pm25</string>
		<key>row</key>
		<string>4</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>二氧化氮</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>no2</string>
		<key>row</key>
		<string>5</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>二氧化硫</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>so2</string>
		<key>row</key>
		<string>6</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>一氧化碳</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>co</string>
		<key>row</key>
		<string>7</string>
	</dict>
	<dict>
		<key>describe</key>
		<string>臭氧</string>
		<key>value</key>
		<string></string>
		<key>key</key>
		<string>o3</string>
		<key>row</key>
		<string>8</string>
	</dict>
</array>
</plist>
