<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>date</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>预报日期</string>
		<key>row</key>
		<string>0</string>
	</dict>
	<dict>
		<key>key</key>
		<string>sr</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>日出时间</string>
		<key>row</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ss</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>日落时间</string>
		<key>row</key>
		<string>2</string>
	</dict>
	<dict>
		<key>key</key>
		<string>mr</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>月升时间</string>
		<key>row</key>
		<string>3</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ms</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>月落时间</string>
		<key>row</key>
		<string>4</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tmp_max</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>最高温度</string>
		<key>row</key>
		<string>5</string>
	</dict>
	<dict>
		<key>key</key>
		<string>tmp_min</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>最低温度</string>
		<key>row</key>
		<string>6</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cond_code_d</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>白天天气状况代码</string>
		<key>row</key>
		<string>7</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cond_code_n</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>晚间天气状况代码</string>
		<key>row</key>
		<string>8</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cond_txt_d</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>白天天气状况描述</string>
		<key>row</key>
		<string>9</string>
	</dict>
	<dict>
		<key>key</key>
		<string>cond_txt_n</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>晚间天气状况描述</string>
		<key>row</key>
		<string>10</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wind_deg</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>风向360角度</string>
		<key>row</key>
		<string>11</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wind_dir</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>风向</string>
		<key>row</key>
		<string>12</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wind_sc</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>风力</string>
		<key>row</key>
		<string>13</string>
	</dict>
	<dict>
		<key>key</key>
		<string>wind_spd</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>风速，公里/小时</string>
		<key>row</key>
		<string>14</string>
	</dict>
	<dict>
		<key>key</key>
		<string>hum</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>相对湿度</string>
		<key>row</key>
		<string>15</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pcpn</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>降水量</string>
		<key>row</key>
		<string>16</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>降水概率</string>
		<key>row</key>
		<string>17</string>
	</dict>
	<dict>
		<key>key</key>
		<string>pres</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>大气压强</string>
		<key>row</key>
		<string>18</string>
	</dict>
	<dict>
		<key>key</key>
		<string>uv_index</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>紫外线强度指数</string>
		<key>row</key>
		<string>19</string>
	</dict>
	<dict>
		<key>key</key>
		<string>vis</string>
		<key>value</key>
		<string></string>
		<key>describe</key>
		<string>能见度，单位：公里</string>
		<key>row</key>
		<string>20</string>
	</dict>
</array>
</plist>
